body {
    font-family: Inter;
}

#contextMenu {
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#object_panel {
  height: 100%; /* Establece la altura máxima deseada */
  overflow-y: auto; /* Activa el scrollbar vertical cuando sea necesario */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}